<img align="right" src="images/DSApps_logo_small.jpg">

# DSApps 2023 @ TAU: Assignment 3

### Giora Simchoni

### Some Pandas and Web Scraping

### Welcome

Welcome to Assignment 3 in Python!

Remember:

* You can play with the assignment in Playground mode, but:
* Only your private Github repository assigned to you by the course admin will be cloned and graded (Submission mode, see instructions [here](https://github.com/DSApps-2023/Class_Slides/blob/main/Apps_of_DS_HW.pdf))
* Like any other University assignment, your work should remain private
* You need to `git clone` your private Github repository locally as explained [here](https://github.com/DSApps-2023/Class_Slides/blob/main/Apps_of_DS_HW.pdf)
* You need to uncomment the starter code inside the chunk, replace the `### YOUR CODE HERE ###`, run the chunk and see that you're getting the expected result
* Pay attention to what you're asked to do and the required output
* For example, using a *different* function than the one you were specifically asked to use, will decrease your score (unless you amaze me)
* Your notebook should run smoothly from start to end if someone presses in the Jupyter toolbar Kernel --> Restart & Run All
* When you're done save the entire notebook into a html file, this is the file that would be graded
* You can add other files but do not delete any files
* Commit your work and push to your private Github repository as explained [here](https://github.com/DSApps-2023/Class_Slides/blob/main/Apps_of_DS_HW.pdf)

This assignemtnt is due: 8/5 23:59

### Libraries

These are the libraries you will need. If you don't have them, you need to uncomment the `!pip install` line and install them first (you can also just copy this command to a terminal and do it there if you don't want all the output printed in this notebook).

In [60]:
#!pip install matplotlib numpy scipy pandas beautifulsoup4

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### Some Pandas

###### (20 points)

Behold the `fifa_wide` DF. There's only so much we can do with it in current form. Make `fifa_wide` into `fifa_long`, a table with 4 columns (say `['Country', 'Continent', 'Year', 'Rank']`) and 15 rows, holding for each country, for each World Cup year, its Rank.

In [2]:
fifa_d = {'Country': ['France', 'Germany', 'Spain', 'Argentina', 'Brazil'],
      'Continent': ['Europe', 'Europe', 'Europe', 'South America', 'South America'],
      '2014': [7, 1, 23, 2, 4],
      '2018': [1, 22, 10, 16, 6],
      '2022': [2, 17, 13, 1, 7]}

fifa_wide = pd.DataFrame(fifa_d)
fifa_wide

     Country      Continent  2014  2018  2022
0     France         Europe     7     1     2
1    Germany         Europe     1    22    17
2      Spain         Europe    23    10    13
3  Argentina  South America     2    16     1
4     Brazil  South America     4     6     7

In [3]:
fifa_long = pd.melt(fifa_wide, id_vars=('Country','Continent'), 
                    value_vars=['2014','2018','2022'], 
                    var_name="Year", 
                    value_name="Rank")

fifa_long

      Country      Continent  Year  Rank
0      France         Europe  2014     7
1     Germany         Europe  2014     1
2       Spain         Europe  2014    23
3   Argentina  South America  2014     2
4      Brazil  South America  2014     4
5      France         Europe  2018     1
6     Germany         Europe  2018    22
7       Spain         Europe  2018    10
8   Argentina  South America  2018    16
9      Brazil  South America  2018     6
10     France         Europe  2022     2
11    Germany         Europe  2022    17
12      Spain         Europe  2022    13
13  Argentina  South America  2022     1
14     Brazil  South America  2022     7

We have downloaded from [Gapminder data repository](https://www.gapminder.org/data/) the life expectancy data for all countries in the years 1900-1999. 

* Upload the `life_expectancy_years.csv` file from Moodle, however you want.
* Extract from this dataset countries that have data for all years in the range 1900-1999 (i.e. you should discard countires with `Nan` values in years 1900-1999).
* You should get 184 countries.
* Create for each of these the average age for each decade (1900-1909, 1910-1919,...), resulting with a matrix of 184 countries (rows) times 10 decades averages (the country's name is an extra column, so 11 columns).


**Important:** There are many ways to do this manipulation. Looping isn't a sin, but you should know where to use it.

**Sanity check:** the maximum value at the 90s (1990-1999) should be about `80.11`

In [4]:
df_pop = pd.read_csv('data/life_expectancy_years.csv')
df_pop

,country,1800,1801,1802,1803,1804,1805,1806,1807,1808,...,2091,2092,2093,2094,2095,2096,2097,2098,2099,2100
0,Afghanistan,28.2,28.2,28.2,28.2,28.2,28.2,28.1,28.1,28.1,...,76.5,76.6,76.7,76.9,77.0,77.1,77.3,77.4,77.5,77.7
1,Albania,35.4,35.4,35.4,35.4,35.4,35.4,35.4,35.4,35.4,...,87.4,87.5,87.6,87.7,87.8,87.9,88.0,88.1,88.2,88.3
2,Algeria,28.8,28.8,28.8,28.8,28.8,28.8,28.8,28.8,28.8,...,88.3,88.4,88.5,88.6,88.7,88.8,88.9,89.0,89.1,89.2
3,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Angola,27.0,27.0,27.0,27.0,27.0,27.0,27.0,27.0,27.0,...,78.7,78.9,79.0,79.1,79.3,79.4,79.5,79.7,79.8,79.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182,Venezuela,32.2,32.2,32.2,32.2,32.2,32.2,32.2,32.2,32.2,...,86.2,86.3,86.5,86.6,86.7,86.9,87.0,87.1,87.2,87.3
183,Vietnam,32.0,32.0,32.0,32.0,32.0,32.0,32.0,32.0,32.0,...,84.3,84.4,84.5,84.6,84.7,84.8,84.9,85.0,85.2,85.3
184,Yemen,23.4,23.4,23.4,23.4,23.4,23.4,23.4,23.4,23.4,...,77.3,77.4,77.5,77.7,77.8,77.9,78.0,78.2,78.3,78.4
185,Zambia,32.6,32.6,32.6,32.6,32.6,32.6,32.6,32.6,32.6,...,76.8,77.0,77.1,77.3,77.4,77.6,77.7,77.8,78.0,78.1
186,Zimbabwe,33.7,33.7,33.7,33.7,33.7,33.7,33.7,33.7,33.7,...,74.5,74.6,74.7,74.8,75.0,75.1,75.3,75.4,75.5,75.7

In [5]:
df_pop = df_pop \
        .filter(df_pop.columns[df_pop.columns.str.startswith(('19','country'))])\
        .dropna()

#df_pop.shape

df_pop2 = pd.DataFrame({'country' : df_pop.loc[:,'country'],
                    '00s mean' : df_pop.loc[:,'1900':'1909'].mean(axis=1),
                    '10s mean' : df_pop.loc[:,'1910':'1919'].mean(axis=1),
                    '20s mean' : df_pop.loc[:,'1920':'1929'].mean(axis=1),
                    '30s mean' : df_pop.loc[:,'1930':'1939'].mean(axis=1),
                    '40s mean' : df_pop.loc[:,'1940':'1949'].mean(axis=1),
                    '50s mean' : df_pop.loc[:,'1950':'1959'].mean(axis=1),
                    '60s mean' : df_pop.loc[:,'1960':'1969'].mean(axis=1),
                    '70s mean' : df_pop.loc[:,'1970':'1979'].mean(axis=1),
                    '80s mean' : df_pop.loc[:,'1980':'1989'].mean(axis=1),
                    '90s mean' : df_pop.loc[:,'1990':'1999'].mean(axis=1)})


def decade_avg(k):
    x = str(1900 + k*10)
    y = str(1909 + k*10)
    return df_pop.loc[:,x:y].mean(axis=1)

df_pop3 = pd.DataFrame({'Country' : df_pop.loc[:,'country']})

for i in range(10):
    x = str(i) + '0s mean'
    df_pop3[str(x)] = decade_avg(i)
    
df_pop2
#print(df_pop3)
#df_pop3.loc[:,'90s'].max()

,country,00s mean,10s mean,20s mean,30s mean,40s mean,50s mean,60s mean,70s mean,80s mean,90s mean
0,Afghanistan,29.70,28.057,30.92,31.54,32.15,35.40,42.62,46.63,44.78,53.17
1,Albania,35.40,33.800,35.40,40.17,44.87,56.97,65.12,69.41,72.34,73.87
2,Algeria,29.54,30.690,31.59,34.75,36.91,49.43,55.10,60.04,67.64,72.87
4,Angola,29.35,28.180,30.73,31.40,33.30,37.46,43.21,47.11,47.73,49.08
5,Antigua and Barbuda,33.80,32.680,36.95,45.35,53.85,60.63,65.22,68.82,72.80,74.36
...,...,...,...,...,...,...,...,...,...,...,...
182,Venezuela,32.44,32.190,32.68,34.73,46.16,57.38,63.32,67.38,70.88,72.48
183,Vietnam,31.04,29.650,30.48,31.56,33.42,50.98,55.89,58.77,66.94,70.07
184,Yemen,23.55,23.200,23.60,23.70,23.71,27.68,37.12,47.89,55.73,60.65
185,Zambia,33.74,31.950,34.38,34.72,36.92,46.56,51.25,55.53,54.52,47.14
186,Zimbabwe,34.12,32.540,34.36,34.48,41.05,50.88,54.91,57.39,61.66,53.58

**Note**: the following 3 questions are regarding the dataset you just created, not the original raw data from CSV.

Which country had the highest life expectancy in the 1970s (1970-1979) ?

In [66]:
df_pop2[df_pop2['70s mean'] == df_pop2['70s mean'].max()]['country']

65    Greece
Name: country, dtype: object

How many countries had at least 1 "peak" decade? A peak decade is a decade which had a higher life expectancy compared to both the deacdes before and after it (the 1900s and 1990s cannot be called that here)

In [67]:
def peak(row):
    for i in range(1,9):
        before = str(i-1) + '0s mean'
        current = str(i) + '0s mean'
        after = str(i+1) + '0s mean'
        if row[before] < row[current] < row[after]:
            return True
        else:
            return False
        
df_pop2['peak'] = df_pop2.apply(peak,axis=1)
df_pop2['peak'].sum()

54

In which decade did most countries experience a decrease in life expectancy compared to the previous decade? (see if you can think of a reason) E.g. if you check from 1980s to 1990s about 20% of countries decreased in life expectency.

In [68]:
for i in range(9):
    current = str(i) + '0s mean'
    after = str(i+1) + '0s mean'
    x = str(i) + str(i+1) + '_dec'
    df_pop2[x] = df_pop2.apply(lambda row: row[current] > row[after],axis=1)
    
max_dec = df_pop2.loc[:,'01_dec':].sum().argmax()
print(f"The decade that most countries exprience a decrease in life expectancy is {max_dec} to {max_dec+1}.\nProbably due to the spanish flu")

The decade that most countries exprience a decrease in life expectancy is 0 to 1.
Probably due to the spanish flu

### Web Scraping with BeautifulSoup

###### (30 points)

Go to [ebay.com](ebay.com) and search for little boys t-shirts. The ebay website, like any modern website, is filled with text, images and links. But if you are using Google Chrome and you right-click on any page and choose "View page source" you will see the raw HTML script behind it. The following code was used to download thousands of boys and girls shirts images from ebay, your mission is to fill in the blanks.

Run the following piece of code

In [69]:
from bs4 import BeautifulSoup
import requests

url = 'https://il.ebay.com/b/Boys-Tops-Shirts-T-Shirts-for-Boys/260966/bn_1642883?rt=nc&LH_ItemCondition=1000&LH_BIN=1&LH_PrefLoc=3&_pgn=1'
r = requests.get(url)
soup = BeautifulSoup(r.content, 'lxml')

The above code imports Beautiful Soup, imports the requests library for handling web connections, assigns an ebay search results page address to a variable called `url`, "requests" this URL, stores the response in a variable called `r`, makes a `BeautifulSoup` object out of the response's `content`, and assigns it to a variable called `soup`.

It is advised to visit the url using your browser, so you will have a visual understanding of what you are doing.

Print the raw HTML:

In [70]:
print(soup.prettify()[:1000])

<!DOCTYPE html>
<!--[if IE 9]><html class="ie9" lang="en"><![endif]-->
<!--[if gt IE 9]><!-->
<html lang="en">
 <!--<![endif]-->
 <head>
  <meta charset="utf-8"/>
  <meta content="Shop eBay for great deals on Boys Tops, Shirts &amp; T-Shirts for Boys. You'll find new or used products in Boys Tops, Shirts &amp; T-Shirts for Boys on eBay. Free shipping on selected items." name="description"/>
  <title>
   Boys Tops, Shirts &amp; T-Shirts for Boys | eBay
  </title>
  <meta content="unsafe-url" name="referrer"/>
  <meta content="Boys Tops, Shirts &amp; T-Shirts for Boys | eBay" property="og:title"/>
  <link href="https://ir.ebaystatic.com" rel="'preconnect'"/>
  <meta content="34E98E6F27109BE1A9DCF19658EEEE33" name="msvalidate.01"/>
  <meta content="Shop eBay for great deals on Boys Tops, Shirts &amp; T-Shirts for Boys. You'll find new or used products in Boys Tops, Shirts &amp; T-Shirts for Boys on eBay. Free shipping on selected items." property="og:description"/>
  <meta content="ebay-o

What is the page's title? Replace `#### your code here ####` to get the title as a simple string, without html tags.

In [71]:
url_title = soup.title.text
print(url_title)

Boys Tops, Shirts & T-Shirts for Boys | eBay

Find the all hyperlinks on page:

In [89]:
all_links = [link['href'] for link in soup.find_all('a',href=True)[1:]]
print('all_links is a: ' + str(type(all_links)))
print()
print('first 5 elements in all_links:')
print(all_links[:5])

all_links is a: <class 'list'>

first 5 elements in all_links:
['https://www.ebay.com/', 'http://www.ebay.com/sch/ebayadvsearch', 'https://signin.ebay.com/ws/eBayISAPI.dll?SignIn&_trksid=m570.l3348', 'https://www.ebay.com/globaldeals', 'https://ocsnext.ebay.com/ocs/home']

What is the class type of `all_links`?

In [73]:
type(all_links)

list

Find the all images on page (no credit):

In [74]:
images =  soup.find_all('img', src=True)

Get a `list` of all image titles from the `images` object, **except for the first one**. Print that list.

Hint: `alt`

In [75]:
image_titles = [image['alt'] for image in images[1:]]    
print(image_titles)

['Tommy Hilfiger Baby / Boys / Youth Cotton Polo Shirt NEW WITH TAG ALL Sizes !', 'Chivas Del Guadalajara Youth Centered Full Zipper S Grade Track Soccer Jacket', 'NWT 100% Authentic VILEBREQUIN 100 % Cotton POLO - BLUE - BOYS - 4 Years', "Disney Boys' Toy Story Snug Fit Cotton Pajamas Size 4, 6, 8, 10", 'Boys toddler CHAMPION 2 piece outfit sets shirts shorts all sizes colors', "Boy's School Uniform Short Sleeve Polo Shirt TAGLESS (Sizes, 4-20) NWT", 'Boys Dress Shirt Solid Long Sleeve Formal Kids Wedding Party Boy Size 5 -18 New', 'Roblox Boys Short Sleeve T-Shirt Officially Licensed Black Large 14/16', "Polo Ralph Lauren Kids' Golf Shirts White Stripe S 5", "Boy's Champion Logo T-shirt Size L New With Tags Color Black", 'Boys toddler New balance 2 and 3 piece outfit sets shirts tank top shorts', 'Pajama R Us Boys 5 Pack Ribbed Tank Tops Size 2T/3T 4T/5T 4/5 6/8 10/12 14/16 18', 'Polo Ralph Lauren Boys Blue Polo Bear Football Graphic Short Sleeve T-Shirt', 'Nike Dri-Fit Short Sleeve Shirt Youth White/Striped New with Defect', 'Diesel Boys Light Heather Gray Fashion Top Size 4 5 6 7 8 10/12 14 16 $30', 'Youth Boys John Deere Logo Emblem T-Shirt (Green) Size 3T long sleeve', 'Berlioni Italy Toddlers Kids Boys Long Sleeve Dress Shirt Set With Tie & Hanky', "NEW BOYS LEVI'S GRAPHIC TEE T SHIRT 2 PIECE PACK SET", 'New w Tag Tommy Hilfiger Boy Toddler Navy T-Shirt Top Back to School', 'BNWT Boys YLG Blue UNDER ARMOUR FREEDOM T Shirt (B1)', 'NEW WITH TAGS Vineyard Vines White T-Shirt Size Small 8-10 Boys Girls', 'Studio 3 Boys Four Pack Assorted Color T-Shirts Size 2T 3T 4T 5T 4 5/6 7', "NEW!! Nike Boy's Pro Training Dri-Fit Loose Fit Shirts Variety in Size #181", 'Polo Ralph Lauren Boys Blue Multi Stripe Crew-Neck Short Sleeve T-Shirt', 'Worlds Greatest BIG BROTHER T Shirt Boys Youth Kids and Adult Tee T Shirt', 'Viero Richi Boys Cufflink shirt French Cuff Dress Shirt -Cufflinks Included', 'Polo Ralph Lauren big kids polo bear polo shirts fall grey', "Boy's Dress Shirt & Tie Set Long Sleeve- Many Colors Available", 'Polo Ralph Lauren Shirt Boys Youth Large Bear Astronaut Blue TShirt NEW W TAGS ', 'U.S. Polo Assn Boys 5 Pack Tank Tops Size 4T/5T 4/5 10/12 14/16 18/20', 'Studio 3 Boys Four Pack Assorted Color T-Shirts Size 2T 3T 4T 5T 4 5/6 7', "Pokemon Big Boys Charizard Short Sleeve T-Shirt - Pokemon Gotta Cath 'EM All...", 'Big Boys CHAMPION short sleeve crewneck t shirts all sizes colors', "Nautica Boys' Crew Neck T-Shirts  S (8)  M (10/12)  L (14/16) New With Tags", 'Boys Long Sleeve Dress Shirt Matching Tie & Hanky Toddler Kids Button Up Set', 'Hawaiian Shirts Boys Flower Leaf Beach Aloha Party Camp Holiday Casual', 'Hurley Youth 2-Pack Boys UPF 50+ Tops  Swim Shirt, Blue, White, ', 'Brand NEW - Toddler Boys 2PC T-Shirt And Shorts Set - Choose Size & Color', 'Disney Toy Story Boys Buzz Lightyear T-Shirt - Air Brushed Design Toy Story...', 'Mariokart Boys T Shirt 2 Pk Lot Reeses Peanut Butter Cup Tie Dye Size Small 6/7', 'Polo Ralph Lauren Boys Navy Basketball Polo Bear Graphic Short Sleeve T-Shirt', 'Hanes Boy Tank 5-Pack EcoSmart Undershirt Underwear Breathable Lightweight XS-XL', '2 - New Boys Size 8 Fortnite & Minecraft  T-shirts  - LICENSED -', 'Vineyard Vines Boys Striped Soft Jersey Short Sleeve Pocket T-Shirt', 'UNDER ARMOUR Boys Heatgear & Assorted Style Graphic Logo T-Shirts; Szs 4-7, NWT', 'Polo Ralph Lauren big kids cotton mesh big pony short sleeve polo', 'Roblox Boys Short Sleeve T-Shirt Officially Licensed Black X-Small 4/5', 'New Boys Size 18 T-shirt By Russell']

We need images JPEG addresses. Some have them as attribute `src`, some as attribute `data-src`. This is one way to combine the two. Make sure you understand:

In [76]:
image_files_src = [img.get('src', None) for img in images[1:]]
image_files_datasrc = [img.get('data-src', None) for img in images[1:]]
image_files = [src if datasrc is None else datasrc for src, datasrc in zip(image_files_src, image_files_datasrc)]
image_files[:5]

['https://i.ebayimg.com/thumbs/images/g/xVAAAOSwba1h-sDI/s-l300.jpg',
 'https://i.ebayimg.com/thumbs/images/g/fCMAAOSwpxJkEsIe/s-l300.jpg',
 'https://i.ebayimg.com/thumbs/images/g/xgYAAOSwRath7eHS/s-l300.jpg',
 'https://i.ebayimg.com/thumbs/images/g/1aYAAOSw~ZNjwlYj/s-l300.jpg',
 'https://i.ebayimg.com/thumbs/images/g/leIAAOSwmNVip-W6/s-l300.jpg']

Let's find a shirt's price.

Go to the url in your browser and use the code inspection tool (F12) to look interactively at the url source code. Find the element that holds price data. Notice that the price may be nested within a few levels of html tags. you are searching for the "lowest" level, the one that holds the price directly.

In our case it is a `span` element with a specific class.

What is the specific class for span elements holding the prices?

In [77]:
price_class = 's-item__price'

Get all prices:

In [78]:
price_elements = soup.find_all('span', {'class' : price_class})
print(price_elements[:5])

[<span class="s-item__price">ILS 65.34<span class="DEFAULT"> to </span>ILS 90.82</span>, <span class="s-item__price">ILS 131.01</span>, <span class="s-item__price">ILS 182.01</span>, <span class="s-item__price">ILS 81.87</span>, <span class="s-item__price">ILS 29.09<span class="DEFAULT"> to </span>ILS 36.37</span>]

From each of these `price_elements` we extract the actual price text with the `get_text` function:

In [79]:
print(price_elements[1].get_text())

ILS 131.01

Notice all prices come with the "ILS" prefix and then the number. Also you can see some prices come as a range. For this project we decided to simply take the minimum price of the range.

To do so we could split this string to its elements:

In [80]:
print(float(price_elements[1].get_text().split(' ')[1]))

131.01

Putting it in a function and getting all prices:

In [81]:
def parse_price(price_element):
    try:
        price = float(price_element.get_text().split(' ')[1])
    except:
        price = None
    return price

prices = [parse_price(price_e) for price_e in price_elements]

It's time to actually download the shirts images! The following function accepts an image file address, a shirt title and the file name for the image and attempts to download the image to the current directory with the specified file name:

In [82]:
def download_image(url, title, file_name):
    try:
        response = requests.get(url)    
    except:
        return '', ''
    with open(file_name, "wb") as file:
        file.write(response.content)
    return title, file_name

Download the first image from our page, name it 'test.jpg'. Make sure it was downloaded correctly and see what the function returns:

In [83]:
download_image(image_files[0], image_titles[0], 'test.jpg')

('Tommy Hilfiger Baby / Boys / Youth Cotton Polo Shirt NEW WITH TAG ALL Sizes !',
 'test.jpg')

We will now download all of the page's images, using a loop. 

First, create a folder named 'boys' in the current directory. You can do it right here in this notebook!

In [84]:
!mkdir boys

A subdirectory or file boys already exists.

Fill in the blank to correctly create a dictionary called `images_data` which will hold the `title` of the image, its `file_name`, and the shirt's `price`. Then fill in the blank to correctly download the image with a proper file name using the `download_image` function we wrote for you.

In [85]:
from ipywidgets import IntProgress
from IPython.display import display

images_data = {'title':{},
               'file_name': {},
               'price':{}}

f = IntProgress(min = 0, max = len(images[1:])) # instantiate a progress bar
display(f) # display the bar

for i in range(len(images[1:])):
    title, file_name = download_image(image_files[i], image_titles[i], 'boys/test_{}.jpg'.format(i))
    images_data['title'][i] = title
    images_data['file_name'][i] = file_name
    images_data['price'][i] = prices[i]
    f.value += 1

IntProgress(value=0, max=48)

One thing that would prove useful later on is having a dataset which summarizes all we have gathered. That's what `images_data` is for. We're going to use `pandas` to make it a `DataFrame` we can easily read and write:

In [88]:
images_data_df = pd.DataFrame(images_data)
print(images_data_df.shape)
images_data_df.head()

(48, 3)

                                               title       file_name   price
0  Tommy Hilfiger Baby / Boys / Youth Cotton Polo...  boys/test0.jpg   65.34
1  Chivas Del Guadalajara Youth Centered Full Zip...  boys/test1.jpg  131.01
2  NWT 100% Authentic VILEBREQUIN 100 % Cotton PO...  boys/test2.jpg  182.01
3  Disney Boys' Toy Story Snug Fit Cotton Pajamas...  boys/test3.jpg   81.87
4  Boys toddler CHAMPION 2 piece outfit sets shir...  boys/test4.jpg   29.09

This was fun, we got 48 images. But we're looking to get times ~200 than that, and the same amount of shirts images for girls. 

The following function was run to get all boys shirts images. Complete it exactly as we did, but don't run it, we have the images for you!

In [ ]:
run = False # change this to actually run

if run:
    boys_url = 'https://il.ebay.com/b/Boys-Tops-Shirts-T-Shirts-for-Boys/260966/bn_1642883?rt=nc&LH_ItemCondition=1000&LH_BIN=1&LH_PrefLoc=3&_pgn='
    max_pages = 400
    boys_items_data = {'title': {}, 'file_id': {}, 'price': {}}

    f = IntProgress(min = 0, max = max_pages)
    display(f)

    all_items_counter = 0

    for page_num in range(1, max_pages):
        url = boys_url + str(page_num)
        try:
            r = requests.get(url, "lxml")
        except:
            print('Stopped at page: ' + page_num)
            break
        soup = BeautifulSoup(r.content)
        images = soup.find_all("img")
        image_titles = [x['alt'] for x in images[1:]]
        image_files_src = [img.get('src', None) for img in images[1:]]
        image_files_datasrc = [img.get('data-src', None) for img in images[1:]]
        image_files = [src if datasrc is None else datasrc for src, datasrc in zip(image_files_src, image_files_datasrc)]

        try:
            assert len(prices) == len(images)
        except:
            print('Found unequal number of prices in page_num % d' % page_num)
            prices = [None] * len(images)

        for i in range(len(images)):
            title, file_name =  download_image(image_files[i], image_titles[i], 'boys/test_{}_{}.jpg'.format(page_num, i))
            boys_items_data['title'][all_items_counter + i] = title
            boys_items_data['file_id'][all_items_counter + i] = all_items_counter + i
            boys_items_data['price'][all_items_counter + i] = prices[i]
        all_items_counter += len(images)
        f.value += 1

### Wrap up
And that's it, you have used some Pandas to wrangle data and some BeautifulSoup to scrape images from the web. Good luck with the rest of the course!